/* reset css mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** * Cấu hình chung cho body để căn giữa layout và chọn font đẹp hơn
 */
body {
  font-family: Arial, sans-serif;

.header {
  height: 50px;
  background-color: rgb(57, 93, 211);
  color: white;
  line-height: 50px; /* Thay đổi này giúp text header được căn giữa trong container */
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
}
/** * Cấu hình cho container chính chứa sidebar và content
 * Sử dụng Flexbox để tạo layout 2 cột
 */
.container {
  display: flex;
  gap: 10px;
  height: calc(
    100vh - 120px
  ); /* Chiều cao của container chính trừ đi header và footer */
line-height: 50px;
}

.sidebar {
  width: 25%;
  background-color: #2da72d;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.content {
  flex: 1;
  background-color: #eb3434;
  color: white;
  border-radius: 4px;
  text-align: center;
}
/** * Cấu hình cho footer để tạo khung viền đẹp hơn
 */
.footer {
  height: 50px;
  background-color: purple;
  margin-top: 10px;
  border-radius: 4px;
  color: white;
  text-align: center;
  line-height: 50px;
}
